body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Degular';
  src: url('degular/Degular-BoldItalic.woff2') format('woff2'),
      url('degular/Degular-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Degular';
  src: url('degular/Degular-MediumItalic.woff2') format('woff2'),
      url('degular/Degular-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Degular';
  src: url('degular/Degular-Regular.woff2') format('woff2'),
      url('degular/Degular-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Degular';
  src: url('degular/Degular-Thin.woff2') format('woff2'),
      url('degular/Degular-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Degular';
  src: url('degular/Degular-RegularItalic.woff2') format('woff2'),
      url('degular/Degular-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Degular';
  src: url('degular/Degular-LightItalic.woff2') format('woff2'),
      url('degular/Degular-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Degular';
  src: url('degular/Degular-Bold.woff2') format('woff2'),
      url('degular/Degular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Degular';
  src: url('degular/Degular-ThinItalic.woff2') format('woff2'),
      url('degular/Degular-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Degular';
  src: url('degular/Degular-Medium.woff2') format('woff2'),
      url('degular/Degular-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Degular';
  src: url('degular/Degular-SemiBoldItalic.woff2') format('woff2'),
      url('degular/Degular-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Degular';
  src: url('degular/Degular-Light.woff2') format('woff2'),
      url('degular/Degular-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Degular';
  src: url('degular/Degular-SemiBold.woff2') format('woff2'),
      url('degular/Degular-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Milanesa Serif';
  src: url('milanesa/MilanesaSerif-Bold.woff2') format('woff2'),
      url('milanesa/MilanesaSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
