name: Dev

on:
  pull_request:
    types: [opened, synchronize, labeled]
  push:
    branches:
      - main
      - 'release/*'

jobs:
  libs:
    uses: komune-io/fixers-gradle/.github/workflows/make-jvm-workflow.yml@main
    permissions:
      contents: read
      packages: write
    with:
      make-file: 'Makefile_libs.mk'
    secrets:
      GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
      GPG_SIGNING_PASSWORD: ${{ secrets.GPG_SIGNING_PASSWORD }}
      PKG_GITHUB_USERNAME: ${{ secrets.PKG_GITHUB_USERNAME }}
      PKG_GITHUB_TOKEN: ${{ secrets.PKG_GITHUB_TOKEN }}
      PKG_SONATYPE_OSS_USERNAME: ${{ secrets.PKG_SONATYPE_OSS_USERNAME }}
      PKG_SONATYPE_OSS_TOKEN: ${{ secrets.PKG_SONATYPE_OSS_TOKEN }}

  docker:
    uses: komune-io/fixers-gradle/.github/workflows/make-jvm-workflow.yml@main
    permissions:
      contents: read
      packages: write
    with:
      with-docker-registry-login: 'true'
      make-file: 'Makefile_docker.mk'
    secrets:
      GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
      GPG_SIGNING_PASSWORD: ${{ secrets.GPG_SIGNING_PASSWORD }}
      PKG_GITHUB_USERNAME: ${{ secrets.PKG_GITHUB_USERNAME }}
      PKG_GITHUB_TOKEN: ${{ secrets.PKG_GITHUB_TOKEN }}
      PKG_SONATYPE_OSS_USERNAME: ${{ secrets.PKG_SONATYPE_OSS_USERNAME }}
      PKG_SONATYPE_OSS_TOKEN: ${{ secrets.PKG_SONATYPE_OSS_TOKEN }}

  docs:
    uses: komune-io/fixers-gradle/.github/workflows/publish-storybook-workflow.yml@main
    permissions:
      contents: read
      packages: write
      pages: write
      id-token: write
    with:
      with-chromatic: false
      storybook-dir: storybook
      storybook-static-dir: storybook-static
      make-file: 'Makefile_docs.mk'
    secrets:
      NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}

