name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release (e.g., 1.0.0)'
        required: true
        type: string
      next_version:
        description: 'Next development version (e.g., 1.0.1-dev)'
        required: true
        type: string

jobs:
  release:
    uses: komune-io/fixers-gradle/.github/workflows/release-workflow.yml@7c503c77570c59de9e93643f46485f0cb0c4106b
    permissions:
      contents: read
      packages: write
    with:
      version: ${{ github.event.inputs.version }}
      next_version: ${{ github.event.inputs.next_version }}
    secrets:
      PKG_GITHUB_TOKEN: ${{ secrets.PKG_GITHUB_TOKEN }}
